
iOS/uqmarkup.xcodeproj/project.xcworkspace/xcuserdata/simultech.xcuserdatad/UserInterfaceState.xcuserstate

server/www/app/Config/private.php

server/www/app/tmp/*

iOS/Markup2/SecretKey.plist

*.xcuserstate

server/www/.idea/modules.xml

server/www/.idea/workspace.xml

server/www/.idea/www.iml

.idea/modules.xml

.idea/UQMarkup.iml

.idea/vcs.xml

.idea/workspace.xml

.idea/cake_config_setting_v0_6.xml

.idea/dictionaries/simultech.xml

.idea/inspectionProfiles/Project_Default.xml

iOS/uqmarkup.xcodeproj/project.xcworkspace/xcuserdata/nurmerey.xcuserdatad/UserInterfaceState.xcuserstate
